.info__wrapper  {
     background-color: var(--second-brand-color);
}
.info {
    padding: 5rem;
}
.info .sub-title {
   color: var(--sub-text-color);
   margin-bottom: 0; 
}
@media screen and (min-width: 1024px)  {

}


