:root {
    --main-bg-color: #fff;
    --sub-bg-color: #000;
    --sub-text-color: #fff;
    --accent-color: red;

    --main-text-color: #000;

    --first-brand-color: #a19d84;
    --second-brand-color: #3c2221;
    --third-brand-color: #e1ddc2;

    --main-font: 'Open Sans Condensed';
    --title-font: 'Encode Sans SC Expanded';
    
    font-size: 62.5%;
}